<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Tienda</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilo.css' %}">
    

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap" rel="stylesheet">


    <script src="https://kit.fontawesome.com/023df603b2.js" crossorigin="anonymous"></script>
    
</head>
<body>
    <header>
        <nav> 
            <ul>
                <li><a href="{% url "usuario:index" %}">Entrar</a></li>
                <li><a href="{% url 'producto:listProd' %}">Lista de Productos</a></li>
           
            </ul>
        </nav>
    </header>

</body>
</html>

