<p>Cliente</p>
<a href="{% url 'usuario:logout' %}">Cerrar Sesión</a>
<a href="{% url 'usuario:perfil_cliente' %}">Perfil</a>
<a href="{% url 'carrito:ver_carrito' %}">Carrito</a>
<a href="{% url 'venta:compras_cliente' %}">Compras</a>

<ul>
    {% for producto in productos %}
        <li>
            {%if producto.stock > 0%}
                {{ producto.nombre }}
                <a href="{% url 'agregar_carrito' producto.id %}">Agregar al Carrito</a>
            {%else%}
                {{ producto.nombre }} 
                Producto Agotado
            {%endif%}
            Precio: {{ producto.precio }}
            Descripción:{{ producto.descripcion }}
            {%if producto.imagen.url%}
                <td>
                    <img src="{{producto.imagen.url}}" width="100" height="100"></img>
                </td>
            {%else%}
                <td> Imagen no disponible </td>
            {%endif%}
        </li>
    {% endfor %}
 </ul>
 
