<form action="{% url 'usuario:eliminar_usuario'%}" method="POST">
    {% csrf_token %}
    ¿Desea eliminar su cuenta?
    <button type="submit">Eliminar</button>
 </form>
 <a href="{% url 'usuario:index' %}">Regresar</a>