<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilo.css' %}">


    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/023df603b2.js" crossorigin="anonymous"></script>
    

</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'usuario:registro' %}">Registro</a></li>
                <li><a href="{% url 'usuario:login' %}">Login</a></li>
                <!-- Puedes agregar más enlaces aquí si es necesario -->
            </ul>
        </nav>
    </header>
    <main>
        
    </main>
</body>
</html>