<html>
<head>
    <title>Iniciar Sesión</title>
</head>
<body>
    {% include "header.html"%}
    <h2>Iniciar Sesión</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Iniciar Sesión</button>
    </form>
    {% include "footer.html"%}
</body>
</html>
