perfil_cliente:
<h1>Detalles de Perfil</h1>

<p><b>Nombre de usuario:</b> {{ usuario.username }}</p>
<p><b>Nombre:</b> {{ usuario.first_name }} {{ usuario.last_name }}</p>
<p><b>Correo electrónico:</b> {{ usuario.email }}</p>
<p><b>Tipo de usuario:</b> {{ tipo_usuario }}</p>

<a href="{% url 'usuario:perfil_cliente' %}">Regresar</a>
<a href="{% url 'usuario:editar_usuario' %}">Editar</a>
<a href="{% url 'usuario:eliminar_usuario' %}">Eliminar</a> 

<form action="{% url 'usuario:eliminar_usuario'%}" method="POST">
    {% csrf_token %}
    ¿Desea eliminar su cuenta?
    <button type="submit">Eliminar</button>
    </form>
    <a href="{% url 'usuario:perfil_cliente' %}">Regresar</a>