<html>
<head>
    <title>Registro</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilo.css' %}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap" rel="stylesheet">


    <script src="https://kit.fontawesome.com/023df603b2.js" crossorigin="anonymous"></script>
    
</head>
<body>
    {% include "header.html"%}

    <main>
        <h2>Registro de Usuario</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Registrar</button>
        </form>
        <a href="{% url 'usuario:index' %}">Regresar</a>
        {% include "footer.html"%}
    </main>
</body>
</html> 