<body>
    <h1>¿Estás seguro de que quieres eliminar {{ producto.nombre }}?</h1>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Eliminar</button>
    </form>
    <a href="{% url 'carrito:ver_carrito' %}">Cancelar</a>
</body>