<h1>Mi Carrito</h1>
   <ul>
       {% for item in items_carrito %}
       <li>
           {{ item.producto.nombre }} 
      	Cantidad: {{ item.cantidad }} 
        Precio: {{ item.producto.precio }}
        <a href="{% url 'carrito:agregar_carrito' item.producto.id %}">Agregar al Carrito</a>
        <form action="{% url 'carrito:eliminar_producto_carrito' item.id %}" method="post">
            {% csrf_token %}
            <button type="submit">Eliminar</button>
            <button><a href="{% url 'carrito:incrementar_cantidad_producto_carrito' item.id %}">mas</a></button>
            <button><a href="{% url 'carrito:decrementar_cantidad_producto_carrito' item.id %}">menos</a></button>
        </form>     
       </li>
       
       {% endfor %}
   </ul>
   <p>Total: {{ total }}</p>
   <a href="{% url 'venta:realizar_compra' %}">Completar Compra</a>
   <a href="{% url 'usuario:cliente_home'%}">Regresar</a>


