<body>
    <h1>Mis Compras</h1>
    {% for venta in ventas %}
        <h2>Venta ID: {{ venta.id }} - Fecha: {{ venta.fecha_venta }}</h2>
        <ul>
            {% for item in venta.items.all %}
                <li>{{ item.producto.nombre }} - Cantidad: {{ item.cantidad }} - Precio: {{ item.precio }}</li>
            {% endfor %}
        </ul>
    {% endfor %}
    <a href="{% url 'usuario:cliente_home'%}">Regresar</a>
</body>