<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .header {
            text-align: center;
            margin-botton: 20px;
        }
        ul {
            list-style-type:  none;
            padding: 0;
        }
        li {
            margin-botton: 10px;
            border-botton: 1px solid #ddd;
            padding-botton: 10px;
        
        }
        .item {
            font-size: 16px;
        }
        .item-label {
            font-weight: bold;
        }
        .item-value {
            margin-left:10px
        }
    </style>
</head>

<body>
    <div class="header">
        <h2>Reporte de Venta</h2>
        <div>Usuario: {{ venta.usuario }}</div>
        <div>Fecha de Venta: {{ venta.fecha_venta|date:"d/m/Y H:i" }}</div>
    </div>
    
    {% for item in venta.items.all %}
    <div class="item-container">
        <div class="item">
            <span class="item-label">Producto:</span>
            <span>{{ item.producto.nombre }}</span>
        </div>
        <div class="item">
            <span class="item-label">Precio:</span>
            <span>${{ item.producto.precio }}</span>
        </div>
        <div class="item item-image">
            {% if item.producto.imagen %}
            <img src="{{ item.producto.imagen.url }}" alt="{{ item.producto.nombre }}">
            {% endif %}
        </div>
        <div class="item">
            <span class="item-label">Descripción:</span>
            <span>{{ item.producto.descripcion }}</span>
        </div>
        <div class="item">
            <span class="item-label">Cantidad:</span>
            <span>{{ item.cantidad }}</span>
        </div>
        <div class="item">
            <span class="item-label">Total:</span>
            <span>${{ item.precio }}</span>
        </div>
    </div>
    {% endfor %} 
    
 </body>
 </html> 