<body>
    <h1>Mis Ventas</h1>
    {% for venta in ventas %}
        <h2>Venta ID: {{ venta.id }} - Fecha: {{ venta.fecha_venta }}</h2>
        <ul>
            {% for item in venta.items.all %}
                <li>{{ item.producto.nombre }} - Cantidad: {{ item.cantidad }} - Precio: {{ item.precio }}</li>
            {% endfor %}
        </ul>
        <div><a href="{% url 'venta:ventasPDF'  venta.id %}">Imprimir</a></div> 
        <div><a href="{% url 'venta:ventasJSON'  venta.id %}">Formato JSON</a></div> 
    {% endfor %}
    <a href="{% url 'usuario:vendedor_home'%}">Regresar</a>
</body>