<!DOCTYPE html>
<html>
    {% include "header.html" %} 
<head>
    <title>Editar Producto</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Actualizar Producto</button>
    </form>
</body>
</html> 