<!DOCTYPE html>
<html>
    <body>
        {% include "header.html" %}      
        <h1>Bienvenido a productos! {{ cliente.nombre }}</h1>
        <p>La fecha es: {{ fecha|date:"d-M-Y H:i"}}</p> {#los atributos de date pueden cambiar si los pongo con minuscula o mayuscula(con mayuscula hay mas información)#}
        {% now "Y-m-d H:i" %}
        <p>La hora es: {{ fecha.hour }}</p>

        {%if cliente.nombre == "Ana" %}
                <p>Felicidades {{ cliente.apellido|upper}}</p>
                <p> Tienes 10% de descuento en la compra de 3 productos!!</p>
        {%endif%}

        <p>Estos son los productos disponibles: </p>
        {%  lorem 3 p random %}
        {%if productos%}
        <ul>
        {%for producto in productos%}
            <li>{{ producto }}</li>
        {%endfor%}
        </ul>
        {%else%}
            <p> No hay productos disponibles </p>
        {%endif%}
        
        {% include "footer.html" %}
        {#Comentario de una linea#}

        {%comment%} COMENTARIO DE

        VARIAS LINEAS

        {%endcomment%}
    </body>
</html>