<!DOCTYPE html>
<html>
<head>
    <title>Listado de Productos</title>
</head>
<body>
    {% include "header.html" %} 
    <h1>Mis Productos</h1>
    <a href="{% url 'producto:agregarProd' %}">Agregar Producto</a> 
    <ul>
        {% for producto in productos %}
        <li>
            {{ producto.nombre }} 
            {{ producto.precio }}
            {{ producto.descripcion }}
            {{ producto.stock }}
            {%if producto.imagen %}
                <td>
                    <img src="{{producto.imagen.url}}" width="100" height="100"></img>
                </td> 
            {%else%}
                <td> Imagen no disponible </td>
            {%endif%}
                <a href="{% url 'producto:editProd' producto.id %}">Editar</a> - 
                <a href="{% url 'producto:elimProd' producto.id %}">Eliminar</a>
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'producto:home'%}">Regresar</a>
</body>
</html>