*{
    font-family: "Bruno Ace SC", sans-serif;
    font-weight: 400;
    font-size: 30px;
    font-style: normal;
  }
  
  body {
      background-image: url(../images/fondo.png);
      font-family: 'Arial', sans-serif;
      margin: 0;
      padding: 0;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
  }
  
  nav {
      background-color: rgba(51, 51, 51, 0.8);
      color: white;
      padding: 10px 20px;
      text-align: left;
  }
  
  nav ul {
      list-style: none;
      padding: 0;
      margin: 0;
  }
  
  nav ul li {
      display: inline;
      margin-right: 20px;
  }
  
  nav a {
      color: white;
      text-decoration: none;
      font-size: 1.2em;
  }
  
  main {
      padding: 20px;
      text-align: left;
  }
  
  .container {
      width: 80%;
      margin: 0 auto;
  }
  
  .header, .content, .footer {
      padding: 10px;
  }
  
  @media (max-width: 600px) {
      .container {
          width: 100%;
      }
  
      nav ul li {
          display: block;
          margin-bottom: 10px;
      }
  }